<ul class="nav nav-tabs">
    <li role="presentation" {% if tests_subtab == 'tools' %}class="active"{% endif %}>
        <a href="{% url 'dead-forms:tests-basic-tools' %}">Tools</a>
    </li>

    <li role="presentation" {% if tests_subtab == 'normal' %}class="active"{% endif %}>
        <a href="{% url 'dead-forms:tests-basic-normal' %}">Normal</a>
    </li>

    <li role="presentation" {% if tests_subtab == 'ajax' %}class="active"{% endif %}>
        <a href="{% url 'dead-forms:tests-basic-ajax' %}">AJAX</a>
    </li>
</ul>

<br>