<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Function</th>
            <th>Description</th>
            <th>Example HTML</th>
            <th>Example Crispy</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>chosen</td>
            <td>Select box</td>
            <td>
                {% include "dar-forms/tests/basic/table/chosen-select-html.html" %}
            </td>
            <td>
                {% include "dar-forms/tests/basic/table/chosen-select-crispy.html" %}
            </td>
        </tr>

{% comment %}

        <tr>
            <td>bs-file</td>
            <td>Bootstrap filestyle</td>
            <td>
                <form id="dar-forms-basic-bs-file" class="no-submit">
                    <input type="file" id="dar-forms-basic-bs-file-control-1" class="form-control bs-file">
                </form>
            </td>
        </tr>

        <tr>
            <td>dual-listbox</td>
            <td>Bootstrap dual listbox</td>
            <td>
                <form id="dar-forms-basic-dual-listbox" class="no-submit">
                    <select class="form-control dual-listbox" multiple="multiple" id="dar-forms-basic-dual-listbox-control-1">
                        <option value="val-1">Value 1</option>
                        <option value="val-2">Value 2</option>
                        <option value="val-3">Value 3</option>
                        <option value="val-4">Value 4</option>
                        <option value="val-5">Value 5</option>
                        <option value="val-6">Value 6</option>
                        <option value="val-7">Value 7</option>
                        <option value="val-8">Value 8</option>
                        <option value="val-9">Value 9</option>
                        <option value="val-10">Value 10</option>
                        <option value="val-11">Value 11</option>
                        <option value="val-12">Value 12</option>
                        <option value="val-13">Value 13</option>
                        <option value="val-14">Value 14</option>
                        <option value="val-15">Value 15</option>
                        <option value="val-16">Value 16</option>
                        <option value="val-17">Value 17</option>
                        <option value="val-18">Value 18</option>
                        <option value="val-19">Value 19</option>
                        <option value="val-20">Value 20</option>
                    </select>
                </form>
            </td>
        </tr>

        <tr>
            <td>toggle-checkbox</td>
            <td>Toggle checkbox</td>
            <td>
                <form id="dar-forms-basic-toggle-checkbox" class="no-submit">
                    <input class="toggle-checkbox checkboxinput" id="id_acepta" name="acepta" type="checkbox">
                    ¿Acepta enviar correos electrónicos?
                </form>
            </td>
        </tr>

        <tr>
            <td>display-maxlength</td>
            <td>Display max length</td>
            <td>
                <form id="dar-forms-basic-display-maxlength" class="no-submit">
                    <textarea class="form-control display-maxlength" maxlength="2000"></textarea>
                </form>
            </td>
        </tr>
{% endcomment %}


    </tbody>
</table>
